* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}


body {
    height: 100vh;
    background-image: url(images/5.jpg);
    background-size: cover;
    background-position: center;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #015b0f;
    font-size: 1rem;
}

a:hover {
    color: #a7020a;
    
}

/*header*/
header{
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;

}

.action-btn {
    background-color: #015b0f;
    color: #010a02;
    padding:  0.5rem;
    border: none;
    outline: none;
    border-radius: 20px   0 22px 32px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
}

.action-btn:active {
    scale: 0.95;
}

/*dropdown*/
.dropdown-menu {
    
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(3, 160, 163, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown-menu.open {
    height: 340px;

    
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


.container{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    margin:auto;

}

  .container h1 {
    font-size: 35px;
    line-height: 40px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', cursive;
}

.container .text {
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #c0bdbd;
    
}

.btn-style-one {
    background-color: #015b0f;
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    padding: 20px 15px;
    margin-top: 40px;
    font-weight: 600;
    border-radius: 20px 0 22px 32px;
    overflow: hidden;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    vertical-align: middle;
    box-shadow: 0px 15px 40px 0px rgba(11, 0, 10, 0.2);
}

.btn-style-one:hover{
    scale: 1.05;
    color: #fff;

}


.container img {
    height: 450px;
    align-items: center; 
  }



  .section{
    background-color: #c0bdbd;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    margin:10 auto 0 auto;
    

}

  .section h3{
    margin: 0;
    font-size: 35px;
    line-height: 40px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: Open Sans',sans-serif';
}

.section .p {
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #c0bdbd;
    margin-right: 15px;
    
}

.section img {
    height: 350px;
    border-radius: 5px; 
  }




  #Services{
    padding: 10px 0;
    }
    .Services-list{
        display: flex;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        grid-gap :40px;
        margin-top: 50px;
    }
    
    .Services-list div{
        background: #ee2ec8a2;
        padding: 10px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s, transform 0.5s;
    }
    .Services-list div i {
        font-size: 40px;
        margin-bottom: 30px;
        border-radius: 20px 0 22px 32px;
    }
    .Services-list div h2{
        font-size: 27px;
        font-weight: 450;
        margin-bottom: 20px;
        color: rgb(89, 0, 255);
    }
    .Services-list div a{
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        margin-top: 20px;
        display: inline-block;
        
    }
    .Services-list div:hover{
        background: #dd0549a2;
        transform: translateY(-10px);
    }
  
  


/*responsive design*/
@media(max-width:992px) {
.navbar .links,
.navbar .action-btn {
    display: none;
}

.navbar .toggle-btn {
    display: block;
}

.dropdown-menu {
    display: block;
} 
}

@media(max-width:576px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }

}